/* imported Roboto font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------------------------
            common styles 
 -------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.primary-button{
    background: #E02C6D;
    padding: 10px 30px;
    color: white;
    font-size: 1.3em;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

/*--------------------------------------
             top banner section 
----------------------------------------*/

.top-banner{
    background: #2D25A0;
    color: white;
    margin-bottom: 80px;
    overflow: hidden;
}

.top-banner-row{
    width: 80%;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

.top-banner-colum{
    width: 50%;
    padding: 50px;
}

.top-banner-title{
    font-size: 65px;
    margin: 0;
    font-weight: 600;
}

img.top-banner-image{
    width: 100%;
    height: auto;
}

/* set transition for button icon */
.top-banner .primary-button .fas.fa-arrow-right{
    padding: 0px 0px 0px 10px;
    transition-property:padding;
    transition-duration: 0.8s;
}

.top-banner:hover .primary-button .fas.fa-arrow-right{
    padding: 0px 0px 0px 100px;
}

/* set transition for banner image */
img.top-banner-image{
    transition-property:width;
    transition-duration: 0.8s;
}

.top-banner:hover img.top-banner-image{
    width: 110%;
}


/*-------------------------------------------------
                players grid layout 
-------------------------------------------------*/

.players-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 75%;
    margin: 0 auto;
    background: #FFFFFF;
}

.card{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 10px #e3e3e3;
}

.card>img{
    width: 100%;
}


/*----------------------------------------------
                footer section 
-----------------------------------------------*/

.footer{
    margin: 61px 0px;
    text-align: center;
}

img.logo{
    width: 500px;
}

.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-icon{
    background: #E6E6E7;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 58px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.copy-right{
    color: black;
    font-weight: 600;
    font-size: 20px;
}



/*----------------------------------------------
                media queries
-----------------------------------------------*/

@media (max-width: 992px) {

/*------- top banner section ---------*/
    .top-banner-row{
        flex-direction: column;
    }

    .top-banner-colum{
        width: 100%;
    }


/*--------- player section ----------*/

    .players-section{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 688px) { /* for mobile =/

/*------- top banner section ---------*/

    .top-banner-title{
        font-size: 35px;
    }

/*--------- player section ----------*/
    .players-section{
        grid-template-columns: repeat(1,1fr);
    }

/*--------- footer section ----------*/
    img.logo{
        width: 300px;
    }
}