/* imported Roboto font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------------------------
            common styles 
 -------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
:root{
    --primary-color:#2D25A0;
}
.primary-button{
    background: #E02C6D;
    padding: 10px 30px;
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

/*--------------------------------------
             top banner section 
----------------------------------------*/

.top-banner{
    background: var(--primary-color);
    color: white;
    margin-bottom: 80px;
    overflow: hidden; /* for tansition */
}

.top-banner-row{
    width: 80%;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

.top-banner-colum{
    width: 50%;
    padding: 50px;
}

.top-banner-title{
    font-size: 4em;
/*     margin: 0; */
    font-weight: 600;
}

img.top-banner-image{
    width: 100%;
    height: auto;
}

/* set transition for button icon */
.top-banner .primary-button .fas.fa-arrow-right{
    padding: 0px 0px 0px 10px;
    transition-property:padding;
    transition-duration: 0.8s;
}

.top-banner:hover .primary-button .fas.fa-arrow-right{
    padding: 0px 0px 0px 100px;
}

/* set transition for banner image */
img.top-banner-image{
    transition-property:width;
    transition-duration: 0.8s;
}

.top-banner:hover img.top-banner-image{
    width: 110%;
}


/*-------------------------------------------------
                players grid layout 
-------------------------------------------------*/

.players-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 75%;
    margin: 50px auto;
    background: #FFFFFF;
}

.card{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 10px #e3e3e3;
}

.card>img{
    width: 100%;
}


/*-------------- extra sections --------------*/
/*----------------------------------------------
                subscribe section 
-----------------------------------------------*/

.subscribe-section{
    padding: 100px;
    text-align: center;
    background: var(--primary-color);
    color: white;
}

.subscribe-section>form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-section>form>input{
    padding: 11px 53px;
    border: none;
    font-size: 1.2em;
    outline: none;
}


/*-----------------------------------
                gallery section
-----------------------------------*/

.gallery-section{
    text-align: center;
    box-shadow: inset 1px 1px 10px lightgrey;
    padding-top: 5px;
}

.gallery-section>.gallery-images{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.gallery-section>.gallery-images>img{
    width: 100%;
    height: 100%;
}


/*----------------------------------------------
                footer section 
-----------------------------------------------*/

.footer{
    margin: 61px 0px;
    text-align: center;
}

img.logo{
    width: 500px;
}

.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-icon{
    background: #E6E6E7;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 58px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.copy-right{
    color: black;
    font-weight: 600;
    font-size: 20px;
}



/*----------------------------------------------
                media queries
-----------------------------------------------*/
/* for tabs */
@media (max-width: 992px) {

    /*------- top banner section ---------*/
    .top-banner-row{
        flex-direction: column;
    }

    .top-banner-colum{
        width: 100%;
    }


    /*--------- player section ----------*/

    .players-section{
        grid-template-columns: repeat(2,1fr);
    }
}

/* for mobile */
@media (max-width: 688px) { 

    /*------- top banner section ---------*/

    .top-banner-title{
        font-size: 3em;
    }

    /*--------- player section ----------*/
    .players-section{
        grid-template-columns: repeat(1,1fr);
    }

    /*---------- subscribe section---------- */
    .subscribe-section>form{
        flex-direction: column;
    }

    /*--------- footer section ----------*/
    img.logo{
        width: 300px;
    }
}
